<%= form_for [@task_list, @task], html: {class: "create_task_form"} do |f| %>
  <% f.object.errors.full_messages.each do |error| %>
    <div class="errors">
      <%= error %>
    </div>
  <% end %>
  <div>
    <%= f.label :description %>
    <br>
    <%= f.text_field :description, autofocus: true %>
    <br>
    <%= f.label :due_date %>
    <br>
    <%= select_date Time.now, prefix: 'task_date' %>
  </div>
  <div>
    <br>
    <%= f.submit "Create Task" %>
  </div>
<% end %>
