<div>
    <h1>My Lists</h1>
    <%= link_to "+ Add Task List", "task_lists/new" %>
</div>
<br>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<% if flash[:error] %>
  <div class="error"><%= flash[:error] %></div>
<% end %>
<% @task_lists.each do |task_list| %>

  <section class="task-list">
    <article>
      <h1><%= task_list.name %></h1>
      <% task_list.tasks.each do |task|%>
          <dt><%=task%></dt>
        <%end%>
        </article>
    <article>
      <%= link_to "Edit", "task_lists/#{task_list.id}/edit" %>
      <%= link_to "Add Task", "task_lists/#{task_list.id}/tasks/new" %>
    </article>
  </section>

<% end %>